body {
    font-family: Arial, sans-serif;
    background-color: #727272;
    padding: 20px;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .produtos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    background-color: #ee0c0c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #d30101;
  }
  
  #mensagem {
    font-weight: bold;
    margin-top: 10px;
  }

  